/* General CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.flex {
    display: flex;
    align-items: center;
}

/*header CSS */

header {
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    /* box-shadow: 0 10px 6px -6px #777; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 2;
}

.top-nav {
    justify-content: space-between;
    padding: 1.5rem 15rem;
}

.dematAc {
    background-color: #73acf5;
    color: #ffffff;
    padding: 1.3rem 2rem;
    border-radius: 30px;
    font-size: 1.6rem;
    font-weight: bold;
}

.effect:hover {
    transform: scale(1.05);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    
}
.left a:hover, .nav-right a:hover {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 8px 10px -6px rgba(0,0,0,0.1);
    outline: 2px solid white;
}
.logo {
    height: 5rem;
}

.menu,
.close {
    margin-left: 3rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    background-color: #73acf5;
    border-radius: 50%;
    fill: #ffffff;
    cursor: pointer;
    /* display: none; */
}

.menu>svg,
.close>svg {
    height: 2.4rem;
    width: 2.4rem;
}

.di-none {
    display: none;
}

.nav-links {
    justify-content: center;
    padding: 2rem;
    background-color: #73acf5;
}

.nav-links>a {
    color: #ffffff;
    margin-right: 3rem;
    /* font-weight:600; */
}

/* hero section CSS */

.space,
.oh-space {
    padding: 8rem 1.2rem;
    max-width: 114rem;
    margin: auto;
}

.space {
    padding-top: 4rem;
}

div.hero-section {
    margin-top: 138.4px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 56.9rem;
}

.left {
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.left h1,
.head>h2 {
    font-size: 4rem;
    text-transform: capitalize;
    color: #424242;
}

.left p {
    font-size: 1.6rem;
    color: #949494;
    padding-right: 6rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    line-height: 2.4rem;
    text-align: justify;
}

.left>a {
    text-transform: capitalize;
    background-color: #73acf5;
    color: #ffffff;
    padding: 1.3rem 2rem;
    border-radius: 30px;
    font-size: 1.6rem;
    font-weight: bold;
}

.right {
    width: 50%;
}

.left,
.right {
    padding: 0 1.2rem;
    min-height: 37rem;
}

.right>img {
    width: 55rem;
}

/* Why choose us Section CSS */

.why-us {
    /* background: color0 #f1f1f1;; */
    color: #424242;
}

.head {
    padding-bottom: 0;
}

.card {
    margin-top: 6.4rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 300px));
    justify-content: center;
}

.head>h2 {
    color: #424242;
    text-align: center;
}

.head>h2>span {
    color: #73acf5;
    font-size: 6rem;
}

.head>p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2.4rem;
    margin: 1.6rem auto;
    max-width: 55rem;
}

.card-item {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.2), 0 4px 6px -4px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.9);
    color: #424242;
    padding: 2rem;
    flex-direction: column;
    margin: 0 1.2rem;
    margin-bottom: 4.8rem;
    border-radius: 1.2rem;
}

.card-icon {
    width: 10rem;
    height: 10rem;
    background-color: #73acf5;
    border-radius: 87% 38% 100% 40% / 100% 20% 79% 77%;
    margin-top: 1.6rem;
    justify-content: center;
}

.card-detail {
    text-align: center;
}

.card-detail h3 {
    font-size: 2rem;
    line-height: 32px;
    margin: 2.4rem 0;
}

.card-detail p {
    font-size: 1.4rem;
    line-height: 2.3rem;
    margin-bottom: 3rem;
    color: #949494;
}

.card-detail a {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 1rem 1.5rem;
    background-color: #73acf5;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 1.6rem;
}

hr {
    background-color: #f1f1f1;
    border: none;
    height: 1px;
}


@media (max-width: 1114px) {
    .space {
        margin: 0 7rem;
        margin-top: 13rem;
    }

    .right>img {
        width: 100%;
    }
}

@media (min-width: 1001px) {

    .menu,
    .close {
        display: none;
    }
}

@media (max-width: 1000px) {
    .top-nav {
        padding: 1.5rem 7rem;
        box-shadow: 0 10px 6px -6px #777;
    }

    .menu {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        display: block;
        padding-left: 8rem;
    }

    .d-none {
        display: none;
    }

    .nav-links>a {
        display: block;
        padding: 1rem 0;
    }

    .left {
        order: 2;
        margin-left: 50px;
    }

    .left,
    .right {
        width: 80%;
    }

    .right>img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .top-nav {
        padding: 1.5rem 4rem;
    }

    .nav-links {
        padding-left: 5rem;
    }

    .space {
        margin: 0 7rem;
        margin-top: 13rem;
        padding-top: 2rem;
    }

    .left,
    .right {
        width: 100%;
        margin-left: 0;
    }

    .head>h2 {
        font-size: 3rem;
    }
}

@media (max-width: 600px) {

    .space {
        margin: 0 3rem;
        margin-top: 13rem;
        padding-top: 1rem;
    }

    .left,
    .right {
        padding: 0;
        min-height: 100%;
    }

    .right {
        margin-bottom: 5rem;
    }

    .left p {
        padding-right: 2rem;
    }

    .dematAc {
        display: none;
    }
}

@media (max-width: 425px) {
    .logo {
        height: 4rem;
    }

    .top-nav {
        padding: 1.5rem 2rem;
    }

    .menu,
    .close {
        margin-left: 1rem;
    }

    .space {
        margin: 0;
        margin-top: 13rem;
        padding-top: 0;
    }

    .left p {
        padding-right: 1rem;
    }
}

@media (max-width: 375px) {

    .nav-links {
        padding-left: 2rem;
    }

    .left p {
        padding-right: 0rem;
    }
}